<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>About</title>
  <script src="/bundle.js"></script>
</head>

<body>
  <custom-header title-text="{{title}}" user="{{userString}}"></custom-header>
  <simple-counter count=" 20">
  </simple-counter>
</body>

</html>