<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home page</title>
  <script src="/bundle.js"></script>
</head>

<body>
  <custom-header title-text="{{ title }}"></custom-header>
  <simple-counter count="10"></simple-counter>
</body>

</html>